:root {
  --raleway: "raleway";
  --background-blanco: #f5f5f5;
  --fuente-barra: #a2a2a2;
  --fuente-banner: #ffffff;
  --fuente-productos: #464646;
  --fuente-productos-azul: #2a7ae4;
  --fuente-quienesSomos: #eaf2fd;
  --background-iniciarSesion: #e5e5e5;
}
