/* Estilos base del modal */
.modal {
  display: none;
  backdrop-filter: blur(8px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Sin scroll en el fondo */
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1050;
}

.modal-content {
  position: absolute; /* Cambiado a absolute para personalizar la posición */
  top: 0;
  right: 0; /* El modal se posiciona desde el lado derecho */
  height: 100%; /* Altura completa del modal */
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 40%; /* Ancho máximo del modal */
  overflow-y: auto; /* Permitir desplazamiento vertical si el contenido excede */
  text-align: center;
  animation: slide-in-right 0.3s ease-out; /* Animación de entrada desde la derecha */
  display: flex;
  flex-direction: column; /* Para asegurar que los productos se muestren en una sola columna */
  justify-content: flex-start; /* Alineación de los productos al inicio de la columna */
}

/* Estilo del botón de cierre */
.modal-close {
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  font-size: 3rem;
  color: #aaa;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 1060; /* Asegura que el botón esté encima */
}

.modal-close:hover,
.modal-close:focus {
  color: #333;
}

.modal-footer {
  justify-content: center;
  text-align: center;
  padding: 15px 0;

  border-top: 1px solid #ddd;
}

.quienesSomos_redesSociales a img {
  width: 40px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.quienesSomos_redesSociales a img:hover {
  transform: scale(1.2); /* Efecto de hover */
}

/* Animación de deslizamiento */
@keyframes slide-in-right {
  from {
    transform: translateX(
      100%
    ); /* Comienza fuera de la pantalla, a la derecha */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Estilos del texto dentro del modal */
.modal p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.main-container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Modal para pantallas grandes */
@media (min-width: 768px) and (max-width: 1200px) {
  .modal-content {
    max-width: 60%; /* Ajuste para pantallas medianas */
  }
}

/* Modal para dispositivos móviles */
@media (max-width: 768px) {
  .modal {
    position: fixed;
    top: 4rem; /* La altura del header */
    left: 0;
    width: 100%;
    height: calc(
      100% - 4rem
    ); /* Altura ajustada para no superponer el header */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    z-index: 9998; /* Debajo del header */
    display: none; /* Oculto por defecto */
    overflow: auto; /* Permite el scroll si el contenido es más grande */
  }
  .modal-content {
    position: absolute; /* Cambiado a absolute para permitir el ajuste */
    left: 0;

    height: 100%; /* Altura completa del modal en móviles */
    max-width: 90%; /* Ancho deseado para móviles */
    background-color: #fff; /* Color de fondo del contenido */
    border-radius: 0; /* Sin bordes redondeados */
    padding: 0rem; /* Ajustado para móviles */
    animation: slide-in 0.3s forwards; /* Animación de entrada */
  }

  /* Estilos principales del contenedor */
  .main-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .modal-close {
    top: 0rem; /* Ajustado para que sea visible */
    right: 2rem; /* Ajustado para que sea visible */
    font-size: 2rem; /* Tamaño ajustado */
    color: black; /* Color ajustado */
  }

  .modal p {
    font-size: 0.9rem; /* Tamaño de texto ajustado */
  }
}

/* Animación de deslizamiento desde el lado */
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
