/* Estilos base del modal */
.modal {
  display: none;
  backdrop-filter: blur(8px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Sin scroll en el fondo */
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1050;
}

.modal-content {
  position: relative; /* Mantener el contenido centrado por defecto */
  background-color: #fff;
  border-radius: 8px;
  margin: 5% auto; /* Margen para pantallas grandes */
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 40%;
  text-align: center;
  animation: slide-down 0.3s ease-out; /* Animación de entrada */
}

/* Estilo del botón de cierre */
.modal-close {
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  font-size: 3rem;
  color: #aaa;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 1060; /* Asegura que el botón esté encima */
}

.modal-close:hover,
.modal-close:focus {
  color: #333;
}

/* Animación de deslizamiento */
@keyframes slide-down {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Estilos del texto dentro del modal */
.modal p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

/* Modal para pantallas grandes */
@media (min-width: 768px) and (max-width: 1200px) {
  .modal-content {
    max-width: 60%; /* Ajuste para pantallas medianas */
  }
}

/* Modal para dispositivos móviles */
@media (max-width: 768px) {
  .modal-content {
    position: absolute; /* Cambiado a absolute para permitir el ajuste */
    left: 0;
    top: 5%;
    height: 100%; /* Altura completa del modal en móviles */
    max-width: 90%; /* Ancho deseado para móviles */
    max-height: calc(
      100% - 50px
    ); /* Asegura que no exceda la altura de la ventana */
    overflow-y: auto; /* Permitir desplazamiento vertical si el contenido es mayor */
    background-color: #fff; /* Color de fondo del contenido */
    border-radius: 0; /* Sin bordes redondeados */
    padding: 1.5rem; /* Ajustado para móviles */
    animation: slide-in 0.3s forwards; /* Animación de entrada */
  }

  .modal-close {
    top: 4rem; /* Ajustado para que sea visible */
    right: 3rem; /* Ajustado para que sea visible */
    font-size: 2rem; /* Tamaño ajustado */
    color: black; /* Color ajustado */
  }

  .modal p {
    font-size: 0.9rem; /* Tamaño de texto ajustado */
  }
}

/* Animación de deslizamiento desde el lado */
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
