.categoria {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.texto-categoria {
  width: 85%;
  height: 2.37rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.texto-categoria div.open:nth-child(1) {
  z-index: 1000;
  height: 40vh;
}

.texto-categoria h2 {
  font-size: 32px;
  font-weight: bold;
  color: #333; /* Color del texto */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}

.texto-categoria a {
  margin-top: 0.5rem;
  font-size: 16px;
  text-decoration: underline;
}

.texto-categoria a img {
  width: 16px;
  height: 16px;
  padding-right: 0rem;
}

.logo_cabecera {
  display: block;
  width: 10rem;
  margin-bottom: 1rem;
}
.card {
  justify-content: flex-start;
  margin: 1rem;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: var(--background-cards);
  overflow: hidden;
}

.card-body {
  width: 15rem;
  height: auto;
}

div.card-header h3 {
  font-size: 1.5rem;
}

.card-title {
  font-size: 1.5vw;
  font-weight: 600;
}
.productos {
  display: flex;
}

.productos div:nth-child(n + 5) {
  display: none;
}

.productos.ver-todos-activado div {
  justify-content: center;
  display: block;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: auto;
}

.allCard {
  margin: 1rem;
}

.img-allCard {
  width: auto;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modalCard {
  border: 1px solid #dd2476;
}

.img-card {
  overflow: hidden;
  width: 15rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-card img {
  width: 100%; /* Ajusta la imagen al 100% del contenedor */
  height: 100%; /* Ajusta la imagen al 100% del contenedor */
  object-fit: cover;
}

#productos-similares {
  width: auto;
}

.producto-similar {
  text-align: center;
  width: 100px; /* Ancho de cada contenedor de imagen */
}

.producto-similar img {
  width: 70px; /* Tamaño de la imagen */
  height: auto;
  margin-bottom: 5px; /* Espacio entre imagen y nombre */
}

.producto-similar p {
  font-size: 12px; /* Tamaño de la fuente para el nombre del producto */
  margin: 0;
}
.offer-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff5733; /* Color de fondo atractivo */
  color: white;
  padding: 5px 10px;
  border-radius: 5px; /* Bordes redondeados */
  font-weight: bold;
  z-index: 1; /* Asegura que esté sobre la imagen */
  text-align: center;
}

.overlay-icon {
  position: absolute; /* Posiciona el ícono absolutamente dentro del contenedor */
  top: 180px; /* Ajusta la posición vertical (desde la parte superior) */
  right: 10px; /* Ajusta la posición horizontal (desde la derecha) */
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Fondo semi-transparente para mejor visibilidad */
  border-radius: 50%; /* Hace que el fondo sea redondo */
  pointer-events: none;
  cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
  z-index: 10; /* Asegúrate de que el ícono esté por encima de la imagen */
}

.overlay-icon i {
  font-size: 24px; /* Tamaño del ícono */
  color: #333; /* Color del ícono */
}

.btn-close-black {
  background-color: black;
  opacity: 1;
}

.skeleton-card {
  width: 100%;
  height: 200px; /* ajusta según sea necesario */
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 16px;
  animation: skeleton-loading 1.5s infinite;
}

.product-image {
  max-width: 100%; /* La imagen no será más ancha que su contenedor */
  height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
  display: block; /* Elimina los espacios en blanco alrededor de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

/* Modal para pantallas grandes */
@media (min-width: 768px) and (max-width: 1200px) {
  .productos {
    display: ruby;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .texto-categoria h2 {
    font-size: 25px;
  }

  .card {
    margin: 2% auto;
    max-width: 100%;
    transition: none;
  }

  .img-card {
    width: 100%;
  }

  .img-fluid {
    width: auto;
  }

  .img-card-top {
    height: auto;
  }

  .card-body {
    width: auto;
    height: auto;
  }

  .card-title {
    width: auto;
    font-size: 1rem;
  }

  .productos {
    display: block;
    width: -webkit-fill-available;
    margin: 0 5%;
  }
  div.card:hover {
    transform: none;
    box-shadow: none;
  }

  .productos.ver-todos-activado div {
    display: block;
  }

  .allProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .allCard {
    width: calc(48% - 1px);
  }

  .img-allCard {
    width: auto;
  }

  .container-fluid .img-card {
    width: 100%;
  }

  .continuous-move {
    animation: moveUpDown 1s infinite;
  }

  .producto-similar {
    width: auto;
  }

  #productos-similares {
    width: max-content;
  }

  /* Clases que activan las animaciones */
  .icon-up {
    animation: moveUp 0.3s forwards;
  }

  .icon-down {
    animation: moveDown 0.3s forwards;
  }
}
