.categoria {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
  margin-bottom: 4rem;
}

.texto-categoria {
  width: 85%;
  height: 2.37rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;
}

.texto-categoria div.open:nth-child(1) {
  z-index: 1000;
  height: 40vh;
}

.texto-categoria h2 {
  font-size: 32px;
}

.texto-categoria a {
  margin-top: 1rem;
  font-size: 16px;
  color: var(--fuente-productos-azul);
}

.texto-categoria a img {
  width: 16px;
  height: 16px;
  padding-right: 0rem;
}

.logo_cabecera {
  display: block;
  width: 10rem;
  margin-bottom: 1rem;
}
.card {
  justify-content: flex-start;
  margin: 2rem;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: var(--background-cards);
  overflow: hidden;
}

.card-body {
  width: 15rem;
  height: auto;
}

div.card-header h3 {
  font-size: 1.5rem;
}

.card-body a {
  text-decoration: underline;
}

.card-title {
  font-size: 1.5vw;
  font-weight: 600;
}
.productos {
  display: ruby;
}

.productos div:nth-child(n + 5) {
  display: none;
}

.productos.ver-todos-activado div {
  justify-content: center;
  display: block;
}

.allProducts {
  display: ruby;
  max-width: 100%;
  margin: auto;
}

.allCard {
  margin: 1rem;
}

.img-allCard {
  width: auto;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

div.card:hover {
  transform: translateY(-10px);
  box-shadow: 1.25px 1.25pc 10px rgba(0, 0, 0);
}
.modalCard {
  border: 1px solid #dd2476;
}

.img-card {
  overflow: hidden;
  width: 15rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-card img {
  width: 100%; /* Ajusta la imagen al 100% del contenedor */
  height: 100%; /* Ajusta la imagen al 100% del contenedor */
  object-fit: cover;
}

#productos-similares {
  width: auto;
}

.producto-similar {
  text-align: center;
  width: 100px; /* Ancho de cada contenedor de imagen */
}

.producto-similar img {
  width: 70px; /* Tamaño de la imagen */
  height: auto;
  margin-bottom: 5px; /* Espacio entre imagen y nombre */
}

.producto-similar p {
  font-size: 12px; /* Tamaño de la fuente para el nombre del producto */
  margin: 0;
}

.overlay-icon {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem; /* Tamaño del ícono */
  color: white; /* Color del ícono */
  opacity: 0.8; /* Transparencia del ícono */
  pointer-events: none; /* Hace que el ícono no interfiera con los clics */
}

@media (min-width: 320px) and (max-width: 768px) {
  .card {
    transition: none;
  }

  .img-card-top {
    height: auto;
  }

  .card-body {
    width: auto;
    height: auto;
  }

  .card-title {
    width: auto;
    font-size: 1.3rem;
  }

  .productos {
    display: block;
  }
  div.card:hover {
    transform: none;
    box-shadow: none;
  }

  .productos.ver-todos-activado div {
    display: block;
  }

  .allProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: inherit;
  }

  .allCard {
    width: calc(40% - 1px);
    margin: 1rem;
  }

  .img-allCard {
    width: auto;
  }

  /* Define la animación para rotar hacia arriba */
  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .continuous-move {
    animation: moveUpDown 1s infinite;
  }

  /* Define la animación para rotar hacia abajo */
  @keyframes moveDown {
    from {
      transform: rotate(-180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  /* Clases que activan las animaciones */
  .icon-up {
    animation: moveUp 0.3s forwards;
  }

  .icon-down {
    animation: moveDown 0.3s forwards;
  }

  .overlay-icon {
    position: absolute;
    top: 48%;
    left: 82%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem; /* Tamaño del ícono */
    color: white; /* Color del ícono */
    opacity: 0.8; /* Transparencia del ícono */
    pointer-events: none; /* Hace que el ícono no interfiera con los clics */
  }
}
