html {
  width: 100vw;
}

body {
  font-family: var(--font-family-body);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  margin-top: 1rem !important;
}

.fixed-top {
  position: relative;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecera_container {
  z-index: 3;
  width: 85%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
}

.cabecera_logo {
  width: 9.3rem;
}

.busqueda {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 50%;
}

.busqueda_campo {
  padding: 0.75rem;
  border-radius: 1.25rem;
  border: none;
  background-color: var(--background-blanco);
}

.busqueda_campo:focus {
  outline: none;
}

.carrito-link {
  width: min-content;
  position: relative;
  display: inline-block;
}

.carrito-notificacion {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-color: var(--contrast-light-color);
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.carrito-cantidad {
  font-size: 1.2rem;
  font-weight: bold;
}

.carrito-monto {
  font-size: 0.9rem;
  margin-top: 5px;
}

p.help a {
  text-decoration: underline;
}
.div-usuario a {
  list-style-type: none;
  text-decoration: none;
  color: var(--fondo-usuario);
}

.banner {
  display: flex;
  flex-direction: column;
  background: url(https://moda-modesta.s3.us-east-2.amazonaws.com/banner-image_modaModesta.jpg)
    center / cover no-repeat;
  position: static;
  justify-content: center;
  margin-bottom: 2rem;
}

.texto h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--fuente-banner);
  margin-top: 80px;
  margin-left: 120px;
  margin-bottom: 30px;
  text-align: left;
}

.texto p {
  font-weight: 400;
  font-size: 20px;
  color: var(--fuente-banner);
  margin-left: 7.5rem;
  margin-bottom: 1.25rem;
  text-align: left;
}

.consolas {
  width: 6.8rem;
  height: 3rem;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--fuente-productos-azul);
  color: white;
  margin-left: 7.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
  border: none;
}

.button-busqueda {
  margin-left: -50px;
  border: none;
  opacity: 50;
  background-color: var(--background-blanco);
}

.button-busqueda-login {
  display: none;
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
.quienesSomos {
  display: flex;
  flex-direction: column;

  background-color: var(--fuente-quienesSomos);
  padding: 2rem;
}

.quienesSomos_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.quienesSomos_logo {
  max-width: 25%;
}

.card-lista {
  margin: 2rem;
}

.table-container {
  max-height: 10rem; /* Altura máxima del contenedor */
  overflow-y: auto; /* Hace que la barra de desplazamiento vertical aparezca cuando el contenido excede la altura máxima */
}

/* menu desplegable */
/* Estilos del botón de abrir el menú */
#menuBtn {
  position: absolute;
  width: 100vw;
  margin-left: 0rem;
  padding: 2rem;
  cursor: pointer;
  border: none;
}

#menu-mobile {
  z-index: 1;
  font-size: 2vw;
}

#menu-mobile.active {
  height: 100vh;
}

#menu-mobile div:nth-child(1) {
  left: 0;
  position: absolute;
  align-items: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  width: 20vw;
  height: 0%;
  transition: all 250ms ease-out;
}

#menu-mobile div.open:nth-child(1) {
  z-index: 1000;
  height: 70vh;
}

.carrito-monto {
  text-decoration: none;
  color: #333;
}

.carrito-cantidad {
  text-decoration: none;
  color: #333;
}

.js-toggle-cart {
  text-decoration: none;
}

.form-check {
  width: 0%;
}

.quienesSomos_redesSociales {
  text-align: center;
  gap: 10px;
  margin-top: 20px;
}

.quienesSomos_redesSociales a img {
  width: 40px; /* Ajusta el tamaño de los iconos */
  height: 40px;
}

.barra-progreso {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.paso {
  width: 30%;
  text-align: center;
  padding: 10px;
  background-color: #ddd;
  border-radius: 5px;
}

.paso.completado {
  background-color: #4caf50;
  color: white;
}

.icono-compartir {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none; /* Quitar subrayado */
}

.icono-compartir i {
  font-size: 1.5rem;
  cursor: pointer;
  color: #6c757d;
  transition: color 0.3s ease;
}

.icono-compartir p {
  color: #6c757d;
  margin-top: 0.2rem; /* Espacio entre el ícono y el texto */
}

.icono-compartir:hover i,
.icono-compartir:hover p {
  color: #007bff; /* Color al pasar el mouse */
}

/*paginas success y error*/

.registry-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.registry-card__icon-complete {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1rem;
  background-image: url(https://moda-modesta.s3.us-east-2.amazonaws.com/checkmark.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.registry-card__icon-complete-denied {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1rem;
  background-image: url(https://moda-modesta.s3.us-east-2.amazonaws.com/denied.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.registry-card__title {
  max-width: 20rem;
}

/*boton volver al principio*/

.btn-volver {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 24px;
}

.btn-volver:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
}

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

.form-control {
  border: 1px solid #9e9e9e;
}

.form-select {
  border: 1px solid #9e9e9e;
}

/*Reseñas*/

.reseñas-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
}

.reseña {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.reseña .nombre-cliente {
  font-weight: bold;
}

.reseña .calificacion {
  color: #ffc107; /* Color dorado para estrellas */
}

.reseña .red-social {
  font-style: italic;
  color: #666;
}

.reseña {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
  margin-bottom: 4rem;
}

ul {
  line-height: 5rem;
  list-style-type: none; /* Quita los puntos de la lista */
  padding: 0; /* Quita el espaciado interno */
}

ul li {
  margin-bottom: 10px; /* Espaciado entre elementos de la lista */
}

ul li a {
  text-decoration: none; /* Quita el subrayado de los enlaces */
  color: #333; /* Color del texto */
}

@media (min-width: 768px) and (max-width: 1200px) {
  #menu-mobile {
    z-index: 1;
    font-size: 1.8vw;
  }

  #menuBtn {
    /* position: fixed; 
      left: 0; */
    position: absolute;
    width: 100vw;
    margin-left: 0rem;
    padding: 1.5rem;
    cursor: pointer;

    border: none;
  }

  .busqueda {
    margin-right: 10%;
  }

  .busqueda_campo {
    display: none;
  }

  .texto h1 {
    font-size: 2rem;
  }

  .texto p {
    font-size: 1rem;
  }

  .button-busqueda {
    display: none;
  }

  .cabecera_container {
    height: 8vh;
  }
  .cabecera_logo {
    width: 9.5rem;
  }

  .quienesSomos {
    background-color: var(--fuente-quienesSomos);
  }

  .quienesSomos_container {
    height: 50%;
    align-items: center;
  }
  .quienesSomos_logo {
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .cabecera_container {
    z-index: 3;
    height: 3vh;
    width: 100%;
    padding-bottom: 0;
  }

  .header {
    background-color: #fff;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem; /* Ajusta el padding según sea necesario */
  }

  .banner {
    margin-top: 6rem;
  }

  .fixed-top {
    position: absolute;
  }

  .busqueda {
    margin-right: 10%;
  }

  .busqueda_campo {
    display: none;
  }

  .carrito-link {
    margin-top: 2rem;
  }
  .texto h1 {
    font-size: 22px;
    margin-left: 1rem;
  }

  .texto p {
    font-size: 0.8rem;
    margin-left: 1rem;
  }

  .table-container {
    max-height: 10rem; /* Altura máxima del contenedor */
    overflow-y: auto; /* Hace que la barra de desplazamiento vertical aparezca cuando el contenido excede la altura máxima */
  }

  .consolas {
    margin-left: 1rem;
    width: 7rem;
    height: 3rem;
    font-size: 14px;
    text-align: center;
  }

  .button-busqueda {
    display: none;
  }

  .cabecera_logo {
    width: 7.5rem;
    margin-left: 3rem;
    margin-top: 1.5rem;
  }

  /* CSS para la versión móvil */

  #menuBtn {
    width: 100vw;
    position: absolute;
    z-index: 0;
    padding: 0.8rem;
  }

  #menu-mobile {
    z-index: 0;
    font-size: 1.8rem;
  }

  #menu-mobile.active {
    height: 100vh;
  }

  #menu-mobile div:nth-child(1) {
    display: none;
    position: absolute;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    width: 100vw;
    height: 0vh;
    left: 0;
    transition: all 250ms ease-out;
  }

  #menu-mobile div.open:nth-child(1) {
    height: 15vh;
  }

  .quienesSomos {
    background-color: var(--fuente-quienesSomos);
  }

  .quienesSomos_container {
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: center;
  }
  .quienesSomos_logo {
    max-width: 40%;
    margin-bottom: 1rem;
  }

  #login {
    margin-top: 1.5rem;
    margin-right: 1rem;
  }

  p.help {
    font-size: 1.2rem;
  }

  .profile-notificacion {
    width: 100%; /* Asegura que el texto ocupe todo el ancho del contenedor */
    font-size: 14px;
    margin: 0.3rem;
  }
  .data-user {
    font-weight: bold; /* Ajusta el peso de la fuente según sea necesario */
  }

  .div-usuario {
    margin-top: 1rem;
  }

  .div-usuario a {
    overflow: hidden;
    list-style-type: none;
    text-decoration: none;
    color: #333;
    text-align: center;
    width: 4rem;
  }

  .button-busqueda-login img {
    display: none;
  }

  .reseña {
    margin-bottom: 0;
  }

  .reseñas-container {
    flex-direction: column;

    gap: 15px;
    padding: 0px;
  }

  ul {
    line-height: 0;
    margin-top: 1rem;
    list-style-type: style type;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  ul li {
    font-size: 1.2rem;
    text-align: center;
    text-decoration: underline; /* Agregar subrayado */
    text-decoration-line: underline; /* Indicar que queremos subrayar */
    text-decoration-skip-ink: none; /* Evitar que el subrayado se omita alrededor de las letras */
    text-underline-offset: 0.2em; /* Espacio entre el texto y el subrayado */
    text-align: center;
    width: calc(
      5% - 20px
    ); /* Ancho del 33.33% menos el espacio entre elementos */
  }

  ul li a {
    text-decoration: none;
    color: var(--fondo-usuario);
  }
}
