/*menu Header */

header.main-header {
  top: 0;
  width: 100%;
  z-index: 9999;
}

.header-wrap {
  overflow: hidden;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  z-index: 9999;
  height: 6rem;
}

.wrap-logo-header {
  display: flex;
  align-items: center;
  flex-basis: 15%;
}

.logo-header {
  overflow: hidden;
  object-fit: cover;
  font-weight: bold;
  font: 1.5rem;
  color: var(--contrast-dark-color);
}

.logo-header span {
  display: none;
}

.logo-header img {
  border-radius: 50%;
}

.cabecera_logo {
  max-width: 5rem;
}

.nav-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-wrap-header {
  display: flex;
  flex-basis: 50%;
}

ul.main-menu {
  display: flex;
  width: 100%;
  z-index: 99;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  font-size: 1.1rem;
}

ul.main-menu-login {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 99;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  font-size: 1.1rem;
}

li.menu-item {
  margin: 0.75rem;
  display: flex;
}

li.menu-item a {
  padding: 0.5rem 1rem;
  color: #222;
}

li.menu-item a:hover {
  color: #ffc300;
}

i.toogle-menu {
  display: none;
  background-color: #fff;
  border: none;
  z-index: 9999;
}

i.toogle-menu img {
  width: 27px;
  z-index: 99;
}

input#check {
  display: none;
}

#login {
  font-size: 1rem;
}

.busqueda {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 1rem;
}

.busqueda_campo {
  padding: 0.75rem;
  border-radius: 1.25rem;
  border: none;
  background-color: var(--background-blanco);
}

.busqueda_campo:focus {
  outline: none;
}

.carrito-link {
  width: min-content;
  position: relative;
  display: inline-block;
}

.carrito-notificacion {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-color: var(--contrast-light-color);
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.carrito-cantidad {
  font-size: 1.2rem;
  font-weight: bold;
}

.carrito-monto {
  font-size: 0.9rem;
  margin-top: 5px;
}

p.help a {
  text-decoration: underline;
}
.div-usuario a {
  list-style-type: none;
  text-decoration: none;
  color: var(--fondo-usuario);
}
.banner {
  display: flex;
  flex-direction: column;
  background: url(https://moda-modesta.s3.us-east-2.amazonaws.com/1723777096394.jpeg)
    center / cover no-repeat;
  position: static;
  justify-content: center;
}

.texto h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--fuente-banner);
  margin-top: 80px;
  margin-left: 120px;
  margin-bottom: 30px;
  text-align: left;
}

.texto p {
  font-weight: 400;
  font-size: 20px;
  color: var(--fuente-banner);
  margin-left: 7.5rem;
  margin-bottom: 1.25rem;
  text-align: left;
}

.admin-only {
  display: none;
}
.consolas {
  width: 6.8rem;
  height: 3rem;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--fuente-productos-azul);
  color: white;
  margin-left: 7.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
  border: none;
}

.button-busqueda {
  margin-left: -50px;
  border: none;
  opacity: 50;
  background-color: var(--background-blanco);
}

.button-busqueda-login {
  display: none;
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
.quienesSomos {
  display: flex;
  flex-direction: column;

  background-color: var(--fuente-quienesSomos);
  padding: 2rem;
}

.quienesSomos_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.quienesSomos_logo {
  max-width: 25%;
}

.card-lista {
  max-height: 50rem; /* Altura máxima del contenedor */
  overflow-x: hidden;
  margin: 1rem;
}

.js-toggle-cart {
  text-decoration: none;
}

.form-check {
  width: 0%;
}

.quienesSomos_redesSociales {
  text-align: center;
  gap: 10px;
  margin-top: 20px;
}

.quienesSomos_redesSociales a img {
  width: 40px; /* Ajusta el tamaño de los iconos */
  height: 40px;
}

.barra-progreso {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.paso {
  width: 30%;
  text-align: center;
  padding: 10px;
  background-color: #ddd;
  border-radius: 5px;
}

.paso.completado {
  background-color: #4caf50;
  color: white;
}

.icono-compartir {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none; /* Quitar subrayado */
}

.icono-compartir i {
  font-size: 1.5rem;
  cursor: pointer;
  color: #6c757d;
  transition: color 0.3s ease;
}

.icono-compartir p {
  color: #6c757d;
  margin-top: 0.2rem; /* Espacio entre el ícono y el texto */
}

.icono-compartir:hover i,
.icono-compartir:hover p {
  color: #007bff; /* Color al pasar el mouse */
}

/*paginas success y error*/

.registry-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.registry-card__icon-complete {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1rem;
  background-image: url(https://moda-modesta.s3.us-east-2.amazonaws.com/checkmark.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.registry-card__icon-complete-denied {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1rem;
  background-image: url(https://moda-modesta.s3.us-east-2.amazonaws.com/denied.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.registry-card__title {
  max-width: 20rem;
}

/*boton volver al principio*/

/* styles.css o tu archivo CSS */
#volverBtn {
  position: fixed;
  bottom: 10px; /* Ajusta la distancia desde el borde inferior */
  right: 10px; /* Ajusta la distancia desde el borde derecho */
  background-color: #007bff; /* Ajusta según sea necesario */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none; /* Inicialmente oculto */
  z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
}

#volverBtn.show {
  display: block; /* Mostrar cuando sea necesario */
}

.btn-volver:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
}

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

.form-control {
  border: 1px solid #9e9e9e;
}

.form-select {
  border: 1px solid #9e9e9e;
}

/*Reseñas*/

.reseñas-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
}

.reseña {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.reseña .nombre-cliente {
  font-weight: bold;
}

.reseña .calificacion {
  color: #ffc107; /* Color dorado para estrellas */
}

.reseña .red-social {
  font-style: italic;
  color: #666;
}

/* estilo de tabal carrito */

div.table-subtotal td {
  vertical-align: baseline;
}

.table td {
  vertical-align: middle;
  padding: 1rem; /* Ajusta el padding según sea necesario */
}

/* Alinea las imágenes y asegura que tengan el mismo tamaño */
.summary-img-wrap img {
  max-width: 100px; /* Ajusta el tamaño máximo según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}

.reseña {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
}

span#final-total {
  font-weight: 700;
}

/* tabla Users */

div.card-lista div.col-md-12 th,
div.card-lista div.col-md-12 td {
  width: 100px; /* Ancho fijo para todas las celdas */
  height: 50px; /* Altura fija para todas las celdas */
  text-align: center; /* Centra el contenido horizontalmente */
  vertical-align: middle; /* Centra el contenido verticalmente */
  overflow: auto; /* Oculta cualquier desbordamiento */

  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

div.card-lista div.col-md-12 table {
  table-layout: fixed; /* Hace que todas las columnas tengan el mismo ancho */
  width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
  border-collapse: collapse; /* Elimina el espacio entre bordes de celdas */
}

div.card-lista div.col-md-12 th,
div.card-lista div.col-md-12 td {
  border: 1px solid #ddd; /* Añade un borde a las celdas */
}

div.card-lista div.col-md-12 th {
  background-color: #f2f2f2; /* Color de fondo para las cabeceras */
}

.hidden {
  display: none;
}

.carousel-item img {
  width: 100%;
  height: 300px; /* Ajusta la altura según tus necesidades */
  object-fit: cover;
}

/* ul {
  line-height: 5rem;
  list-style-type: none; 
ul li {
  margin-bottom: 10px; 
}

ul li a {
  text-decoration: none; 
  color: #333; 
} */

@media (min-width: 768px) and (max-width: 1200px) {
  #menu-mobile {
    z-index: 1;
    font-size: 1.8vw;
  }

  #menuBtn {
    /* position: fixed; 
      left: 0; */
    position: absolute;
    width: 100vw;
    margin-left: 0rem;
    padding: 1.5rem;
    cursor: pointer;

    border: none;
  }

  .busqueda {
    margin-right: 10%;
  }

  .busqueda_campo {
    display: none;
  }

  .texto h1 {
    font-size: 2rem;
  }

  .texto p {
    font-size: 1rem;
  }

  .button-busqueda {
    display: none;
  }

  .cabecera_container {
    height: 8vh;
  }
  .cabecera_logo {
    width: 9.5rem;
  }

  .quienesSomos {
    background-color: var(--fuente-quienesSomos);
  }

  .quienesSomos_container {
    height: 50%;
    align-items: center;
  }
  .quienesSomos_logo {
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .texto h1 {
    font-size: 28px;
    margin-left: 1rem;
  }

  .texto p {
    font-size: 0.8rem;
    margin-left: 1rem;
  }

  header {
    position: fixed;
    margin-bottom: 4rem;
  }

  .header-wrap {
    justify-content: end;
    width: 100%;
    background-color: #fff;
    padding: 0;
    top: 0;
    z-index: 9999;
    height: 4rem;
  }

  .wrap-logo-header {
    display: block;
    margin-right: 3rem;
    flex-basis: 40%;
  }

  .logo-header span {
    position: fixed;
    display: none;
    left: 10%;
    top: 3%;
    width: 10rem;
  }

  .logo-header img {
    overflow: hidden;
    position: fixed;
    display: block;
    left: 10%;
    top: 1%;
  }

  i.toogle-menu {
    display: flex;
    font-size: large;
  }

  ul.main-menu,
  #nav-main.contact {
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
  }

  label.checkbtn {
    position: fixed;
    left: 3%;
    /* top: 3%; */
    z-index: 9990;
  }

  ul.main-menu {
    position: fixed;
    background-color: #fff;
    display: grid;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0rem;
    z-index: 9;
    line-height: 0;
    margin-top: 4rem;
    align-items: center;
    height: 12vh;
    top: 0;
    font-size: 1.2rem;
  }

  li.menu-item {
    margin: 0;
  }

  /* Estado activado del menú */
  #check:checked ~ ul.main-menu {
    max-height: 500px; /* Ajusta según el contenido del menú */
    display: grid;
  }

  .banner {
    margin-top: 4rem;
  }

  .card-lista {
    max-height: 50rem; /* Altura máxima del contenedor */
    overflow-y: auto; /* Hace que la barra de desplazamiento vertical aparezca cuando el contenido excede la altura máxima */
  }
  .table-container {
    max-height: 50rem; /* Altura máxima del contenedor */
    overflow-y: auto; /* Hace que la barra de desplazamiento vertical aparezca cuando el contenido excede la altura máxima */
  }

  .consolas {
    margin-left: 1rem;
    width: 7rem;
    height: 3rem;
    font-size: 14px;
    text-align: center;
  }

  .button-busqueda {
    display: none;
  }

  .div-contenedor {
    max-width: 30%;
    margin-left: 3rem;
    margin-top: 1.5rem;
  }

  .cabecera_logo {
    max-width: 3rem;
  }

  .carousel-item img {
    height: 450px; /* Ajusta la altura según tus necesidades */
  }

  .quienesSomos {
    background-color: var(--fuente-quienesSomos);
  }

  .quienesSomos_container {
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: center;
  }
  .quienesSomos_logo {
    max-width: 40%;
    margin-bottom: 1rem;
  }

  #login {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  p.help {
    font-size: 1.2rem;
  }

  .profile-notificacion {
    width: auto;
    font-size: 1rem;
    margin: auto;
  }
  .data-user {
    font-weight: bold;
  }

  .div-usuario {
    margin-right: 1rem;
  }

  .div-usuario a {
    text-align: center;
    width: auto;
  }

  .button-busqueda-login img {
    display: none;
  }
  */ .reseña {
    margin-bottom: 0;
  }

  .reseñas-container {
    flex-direction: column;

    gap: 15px;
    padding: 0px;
  }

  /* estilo de tabal carrito */

  div.table-subtotal tr {
    margin-bottom: 2rem;
  }

  .table td {
    font-size: 0.9rem;
    padding: 0.35rem;
  }

  td.summary-img-wrap {
    vertical-align: middle;
  }

  .summary-img-wrap img {
    justify-content: center;
    max-width: 100px; /* Ajusta el tamaño máximo según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  /* tabla Users */

  div.card-lista div.col-md-12 th,
  div.card-lista div.col-md-12 td {
    font-size: 1rem;
    width: 60px;
    height: 30px;
  }

  div.table-subtotal td {
    font-weight: 600;
  }
  /* CSS para dispositivos móviles */

  .admin-only {
    font-size: 0.8rem;
    padding: 0;
    width: 17%;
  }

  ul li a {
    text-decoration: none;
    color: var(--fondo-usuario);
  }
}
